<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            
                <ul class="list-group" id="item_list">
                                        
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form method="POST">
                      {% csrf_token %}
                            <input type="hidden" id="items" name="items">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputEmail4">Nombre</label>
                            <input id="name" name="name" type="text" class="form-control" id="inputEmail4" placeholder="Nombre">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputPassword4">Email</label>
                            <input id="email" name="email" type="text" class="form-control" id="inputPassword4" placeholder="Email">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputAddress">Dirección</label>
                          <input id="address" name="address" type="text" class="form-control" id="inputAddress" placeholder="Dirección">
                        </div>
                        
                        <div class="form-row">
                          <div class="form-group col-md-5">
                            <label for="inputCity">Ciudad</label>
                            <input id="city" name="city" type="text" class="form-control" id="inputCity">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="inputState">País</label>
                            <input id="state" name="state" type="text" class="form-control" id="inputCity">
                           
                          </div>
                          <div class="form-group col-md-3">
                            <label for="inputZip">Celular</label>
                            <input id="cel" name="cel" type="text" class="form-control" id="inputZip">
                          </div>
                          <div class="form-group col-md-3">
                            <label for="inputZip">Total a pagar</label>
                            <input readonly="" type="text" class="form-control" id="total" name="total">
                          </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Realizar pedido</button>
                      </form>
                </div>
            </div>
        </div>

    </div>
</body>
<script type="text/javascript">
    if(localStorage.getItem('cart')==null){
        var cart = {};

    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    let total=0;
    for(item in cart){
        let name= cart[item][1];
        let quantity= cart[item][0];
        let price= cart[item][2];
        total= total + cart[item][2];
        
        
        itemString = `<li class="list-group-item"><span class="">${quantity}</span> ${name}  <span class="badge badge-warning badge-pill">${price}</span></li>`;
        
        $('#item_list').append(itemString);
    }
    totalPrice = `<li class= "list-group-item d-flex justify-content-between align-items-center"><b>Total</b>
        ${total}</li>`
    $('#total').val(total);
    $('#item_list').append(totalPrice);
    $('#items').val(JSON.stringify(cart));
</script>
</html>